@page {
    size: 210mm 297mm;
    /* <length>{1,2} | auto | portrait | landscape */
    /* 'em' 'ex' and % are not allowed; length values are width height */
    margin-top: 6.75cm;
    margin-bottom: 7cm;
    margin-left: 2cm;
    margin-right: 2cm;
    header: html_defaultHeader;
    footer: html_defaultFooter;

}